.bg-image{
    background-image: url("../assets/4399320.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightgray;
    opacity: .8;
}